In [1]:
import pandas as pd

In [2]:
SOURCE = '../data/kilt_wiki_small.jsonl'

In [3]:
df = pd.read_json(SOURCE, lines=True)
df

,kilt_id,wikipedia_id,wikipedia_title,text,anchors,categories,wikidata_info,history
0,339,339,Ayn Rand,"{'paragraph': ['Ayn Rand ', 'Ayn Rand (; born ...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 2, 2, 2, 2...","American women novelists,American abortion-rig...",{'description': 'Russian-American novelist and...,"{'pageid': 339, 'parentid': 908569581, 'revid'..."
1,358,358,Algeria,"{'paragraph': ['Algeria ', 'Algeria ( ; , ; ),...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Arab republics,Algeria,States and territories ...","{'description': 'country in North Africa', 'en...","{'pageid': 358, 'parentid': 908790773, 'revid'..."
2,20134,20134,Minnesota Vikings,"{'paragraph': ['Minnesota Vikings ', 'The Minn...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 2, 3, 3, 5...","Minnesota Vikings,American football teams esta...",{'description': 'National Football League team...,"{'pageid': 20134, 'parentid': 903647882, 'revi..."
3,420438,420438,Steven Tyler,"{'paragraph': ['Steven Tyler ', 'Steven Tyler ...","{'paragraph_id': [1, 1, 2, 2, 2, 2, 2, 2, 2, 2...","1948 births,Songwriters from Massachusetts,20t...","{'description': 'American singer, songwriter, ...","{'pageid': 420438, 'parentid': 908514489, 'rev..."
4,269859,269859,A Perfect Circle,"{'paragraph': ['A Perfect Circle ', 'A Perfect...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Alternative metal supergroups,Musical quintets...","{'description': 'American band', 'enwikiquote_...","{'pageid': 269859, 'parentid': 904818334, 'rev..."
...,...,...,...,...,...,...,...,...
775,205508,205508,Quincy Jones,"{'paragraph': ['Quincy Jones ', 'Quincy Deligh...","{'paragraph_id': [1, 1, 2, 2, 2, 2, 2, 2, 2, 2...","American dance musicians,Grammy Legend Award w...","{'description': 'American record producer, con...","{'pageid': 205508, 'parentid': 905892825, 'rev..."
776,39342797,39342797,Stars Dance,"{'paragraph': ['Stars Dance ', 'Stars Dance is...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Albums produced by Stargate,Albums produced by...","{'description': '2013 album by Selena Gomez', ...","{'pageid': 39342797, 'parentid': 906953113, 'r..."
777,20942188,20942188,Twelfth Doctor,"{'paragraph': ['Twelfth Doctor ', 'The Twelfth...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Male characters in television,Doctor Who Docto...",{'description': 'fictional character from Doct...,"{'pageid': 20942188, 'parentid': 908272386, 'r..."
778,20949091,20949091,Jennifer Garner,"{'paragraph': ['Jennifer Garner ', 'Jennifer A...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2...","20th-century American actresses,People from Ho...","{'description': 'American actress', 'enwikiquo...","{'pageid': 20949091, 'parentid': 908356408, 'r..."
779,5119376,5119376,John F. Kennedy,"{'paragraph': ['John F. Kennedy ', 'John Fitzg...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2...","United States Navy officers,People associated ...",{'description': '38th President of the United ...,"{'pageid': 5119376, 'parentid': 907856770, 're..."

432    {'paragraph': ['Roman Atwood
', 'Roman Bernard...
Name: text, dtype: object

In [14]:
df['paragraphs'] = df['text'].apply(lambda t: t['paragraph'])

df.loc[df['wikipedia_id'] == 43386202]['paragraphs'].iloc[0]

['Roman Atwood\n',
 'Roman Bernard Atwood (born May 28, 1983) is an American YouTube personality, comedian, vlogger, and prankster. He is best known for his vlogs, where he posts updates about his life. His vlogging channel, "RomanAtwoodVlogs", has a total of 5 billion views and 15 million subscribers. The channel is currently the 50th most subscribed channel on YouTube. He also has another YouTube channel called "RomanAtwood", where he posts pranks but he has been inactive on it for almost 2 years. His prank videos have gained over 1.4 billion views and 10.4 million subscribers. Both of these channels are in the top 100 most subscribed on YouTube, and he became the second YouTuber after Germán Garmendia to receive two Diamond Play Buttons for his two channels.\n',
 'Section::::Personal life.\n',
 'Born in Millersport, Ohio, Atwood has been filming and producing videos since high school. He was born to Curt Dale Atwood and Susan Atwood. He began his independent career by producing a series of DVDs called "The Nerd Herd" which he sold at the Warped Tour in 2006. Atwood has also worked on various film projects and commercials in Columbus, Ohio until 2010, when he decided to focus on his passion of comedy and created the YouTube channel "Sketch Empire".\n',
 'Prior to his YouTube career, he worked at his family\'s rope factory called "Atwood Rope". In 2001, he married Shanna Riley, who gave birth to Atwood\'s first son, Noah Vaughn Atwood (born October 18, 2004). In 2008, after his wife cheated on him with a friend while on vacation, he filed for a divorce.\n',
 'In 2013, Atwood founded his own merchandise line called "Smile More", selling T-shirts, hoodies, bracelets and other items.\n',
 "He currently resides in his hometown with his wife Brittney Smith-Atwood, with whom he has a second son, Kane Alexander Atwood (born October 23, 2011) and daughter, Cora Atwood (born July 16, 2017). Atwood met Smith at the wedding of his friend, Chase Gilroy, where Roman was his best man in 2008. Smith is the sister of Gilroy's wife, Veronica, and the two started dating from there. Atwood proposed to Smith on April 30, 2018, and the two married on July 27, 2018, in Maui, Hawaii.\n",
 "On May 29, 2019, Atwood's mother, Susan Atwood, died unexpectedly after a tragic accident while on vacation with the entire Atwood family. Atwood subsequently took time out from his social media activity to grieve for his mother.\n",
 'Section::::Career.\n',
 'Section::::Career.:YouTube.\n',
 'Section::::Career.:YouTube.:Plastic Ball Prank.\n',
 'In this video, Atwood fills his house with plastic balls 2.5\xa0ft high, turning it into a massive ball pit. This video was uploaded on January 18, 2015, and currently has almost 86 million views. This video was noticed by Nissan, who gave him a 2015 Nissan GTR in exchange to use his video in the "WithDad" campaign during their half-time advert at Super Bowl XLIX. This was awarded the best "Brand Campaign" for the 5th Streamy Awards.\n',
 'Section::::Career.:YouTube.:Anniversary Prank.\n',
 'His video "Anniversary Prank Backfires!!" was posted on November 20, 2013, and currently has over 86 million views. It features Atwood pranking Smith on their five-year dating anniversary by confessing that he has cheated on her. The prank backfires when she sees the camera beforehand and pranks him back by pretending that she has cheated on him too. She only reveals her own prank after a few seconds of Atwood reacting badly to the news. At the end of the video, Smith says "I thought you were going to propose".\n',
 'Section::::Career.:YouTube.:Killing My Kid Prank.\n',
 'A prank titled "Killing My Own Kid PRANK!!", posted on November 30, 2014, and currently has over 50 million views. The video shows Atwood pranking Smith by throwing a mannequin in a Spider-Man costume, pretending it was their son Kane. When Smith runs to the mannequin, she quickly pulls off its mask, realizing it was not Kane, and in fact the mannequin. At this point, she breaks down into tears as Atwood enters the room snickering at her. She then storms off, but returns when Atwood asks her "Are you really that mad?" She then starts shouting at him and tells him he\'s "sleeping on the couch". The prank was referenced during Atwood and Smith\'s appearance on the reality TV series "Tanked", where Smith revealed that Atwood did in fact sleep on the couch that night.\n',
 'Section::::Career.:Film.\n',
 'Section::::Career.:Film.:"Natural Born Pranksters".\n',
 'In 2016, Atwood, Vitaly Zdorovetskiy and Dennis Roady released a film produced by Lionsgate, called "Natural Born Pranksters" which has received generally negative reviews. On Rotten Tomatoes, the film has an audience score of 43%, based on 1,163 ratings. On IMDb, the movie has an average rating of 3.7 out of 10 stars.\n',
 'Section::::Career.:Tour.\n',
 'In 2016, Atwood and fellow YouTuber Yousef Erakat started a worldwide tour called "Roman vs. Fousey". They have performed shows in the United States, Canada and the UK.\n',
 'Section::::Legal issues.\n',
 'In March 2014, Roman, along with his accomplices, were arrested by the Columbus Police Department for inducing panic and disorderly conduct during the filming of a prank where he pretended to rob an ATM in public. He was released on bail and was summoned to court. The case was widely contested, with his fans showing up to court to support and watch the case. As a defendant, he won the case on the basis of expression of art and freedom of speech, and the case was settled.\n']

In [62]:
cols = ['kilt_id', 'wikipedia_id', 'wikipedia_title']
idx = pd.MultiIndex.from_tuples(df[cols].values.tolist(), names=cols)


df_p = pd.DataFrame(df['paragraphs'].tolist(), idx).stack().reset_index(cols, name='paragraph')
df_p['paragraph_id'] = df_p.index

In [65]:
df_p

,kilt_id,wikipedia_id,wikipedia_title,paragraph,paragraph_id
0,339,339,Ayn Rand,Ayn Rand\n,0
1,339,339,Ayn Rand,Ayn Rand (; born Alisa Zinovyevna Rosenbaum; ...,1
2,339,339,Ayn Rand,Rand advocated reason as the only means of acq...,2
3,339,339,Ayn Rand,Literary critics received Rand's fiction with ...,3
4,339,339,Ayn Rand,Section::::Life.\n,4
...,...,...,...,...,...
292,5119376,5119376,John F. Kennedy,BULLET::::- Other\n,292
293,5119376,5119376,John F. Kennedy,BULLET::::- John F. Kennedy: A Resource Guide ...,293
294,5119376,5119376,John F. Kennedy,BULLET::::- Extensive Essays on JFK with short...,294
295,5119376,5119376,John F. Kennedy,BULLET::::- Kennedy Administration from Office...,295
296,5119376,5119376,John F. Kennedy,"BULLET::::- access date February 19, 2019\n",296

In [80]:
df_p.loc[((df_p['wikipedia_id'] == 339) & (df_p['paragraph_id'] == 100))]

,kilt_id,wikipedia_id,wikipedia_title,paragraph,paragraph_id
100,339,339,Ayn Rand,"BULLET::::- ""Writings of Ayn Rand"" – from C-SP...",100

In [48]:
df_p['paragraph'].apply(lambda p: len(p)).describe()

count    1171.000000
mean      364.667805
std       374.044065
min         7.000000
25%        45.000000
50%       275.000000
75%       553.000000
max      2867.000000
Name: paragraph, dtype: float64

In [43]:
df_p.to_json('../data/kilt_wiki_small_paragraphs.jsonl', orient='records', lines=True)