In [57]:
import pandas as pd

In [58]:
SOURCE = '../data/kilt_wiki_small.jsonl'

In [59]:
df = pd.read_json(SOURCE, lines=True)
df

,kilt_id,wikipedia_id,wikipedia_title,text,anchors,categories,wikidata_info,history
0,339,339,Ayn Rand,"{'paragraph': ['Ayn Rand ', 'Ayn Rand (; born ...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 2, 2, 2, 2...","American women novelists,American abortion-rig...",{'description': 'Russian-American novelist and...,"{'pageid': 339, 'parentid': 908569581, 'revid'..."
1,358,358,Algeria,"{'paragraph': ['Algeria ', 'Algeria ( ; , ; ),...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Arab republics,Algeria,States and territories ...","{'description': 'country in North Africa', 'en...","{'pageid': 358, 'parentid': 908790773, 'revid'..."
2,20134,20134,Minnesota Vikings,"{'paragraph': ['Minnesota Vikings ', 'The Minn...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 2, 3, 3, 5...","Minnesota Vikings,American football teams esta...",{'description': 'National Football League team...,"{'pageid': 20134, 'parentid': 903647882, 'revi..."
3,420438,420438,Steven Tyler,"{'paragraph': ['Steven Tyler ', 'Steven Tyler ...","{'paragraph_id': [1, 1, 2, 2, 2, 2, 2, 2, 2, 2...","1948 births,Songwriters from Massachusetts,20t...","{'description': 'American singer, songwriter, ...","{'pageid': 420438, 'parentid': 908514489, 'rev..."
4,269859,269859,A Perfect Circle,"{'paragraph': ['A Perfect Circle ', 'A Perfect...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Alternative metal supergroups,Musical quintets...","{'description': 'American band', 'enwikiquote_...","{'pageid': 269859, 'parentid': 904818334, 'rev..."
...,...,...,...,...,...,...,...,...
775,205508,205508,Quincy Jones,"{'paragraph': ['Quincy Jones ', 'Quincy Deligh...","{'paragraph_id': [1, 1, 2, 2, 2, 2, 2, 2, 2, 2...","American dance musicians,Grammy Legend Award w...","{'description': 'American record producer, con...","{'pageid': 205508, 'parentid': 905892825, 'rev..."
776,39342797,39342797,Stars Dance,"{'paragraph': ['Stars Dance ', 'Stars Dance is...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Albums produced by Stargate,Albums produced by...","{'description': '2013 album by Selena Gomez', ...","{'pageid': 39342797, 'parentid': 906953113, 'r..."
777,20942188,20942188,Twelfth Doctor,"{'paragraph': ['Twelfth Doctor ', 'The Twelfth...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1...","Male characters in television,Doctor Who Docto...",{'description': 'fictional character from Doct...,"{'pageid': 20942188, 'parentid': 908272386, 'r..."
778,20949091,20949091,Jennifer Garner,"{'paragraph': ['Jennifer Garner ', 'Jennifer A...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2...","20th-century American actresses,People from Ho...","{'description': 'American actress', 'enwikiquo...","{'pageid': 20949091, 'parentid': 908356408, 'r..."
779,5119376,5119376,John F. Kennedy,"{'paragraph': ['John F. Kennedy ', 'John Fitzg...","{'paragraph_id': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2...","United States Navy officers,People associated ...",{'description': '38th President of the United ...,"{'pageid': 5119376, 'parentid': 907856770, 're..."

In [60]:
df.iloc[0]

kilt_id                                                          339
wikipedia_id                                                     339
wikipedia_title                                             Ayn Rand
text               {'paragraph': ['Ayn Rand
', 'Ayn Rand (; born ...
anchors            {'paragraph_id': [1, 1, 1, 1, 1, 1, 2, 2, 2, 2...
categories         American women novelists,American abortion-rig...
wikidata_info      {'description': 'Russian-American novelist and...
history            {'pageid': 339, 'parentid': 908569581, 'revid'...
Name: 0, dtype: object

In [61]:
df['paragraphs'] = df['text'].apply(lambda t: t['paragraph'])

In [62]:
cols = ['kilt_id', 'wikipedia_id', 'wikipedia_title']
idx = pd.MultiIndex.from_tuples(df[cols].values.tolist(), names=cols)


df_p = pd.DataFrame(df['paragraphs'].tolist(), idx).stack().reset_index(cols, name='paragraph')
df_p['paragraph_id'] = df_p.index

In [65]:
df_p

,kilt_id,wikipedia_id,wikipedia_title,paragraph,paragraph_id
0,339,339,Ayn Rand,Ayn Rand\n,0
1,339,339,Ayn Rand,Ayn Rand (; born Alisa Zinovyevna Rosenbaum; ...,1
2,339,339,Ayn Rand,Rand advocated reason as the only means of acq...,2
3,339,339,Ayn Rand,Literary critics received Rand's fiction with ...,3
4,339,339,Ayn Rand,Section::::Life.\n,4
...,...,...,...,...,...
292,5119376,5119376,John F. Kennedy,BULLET::::- Other\n,292
293,5119376,5119376,John F. Kennedy,BULLET::::- John F. Kennedy: A Resource Guide ...,293
294,5119376,5119376,John F. Kennedy,BULLET::::- Extensive Essays on JFK with short...,294
295,5119376,5119376,John F. Kennedy,BULLET::::- Kennedy Administration from Office...,295
296,5119376,5119376,John F. Kennedy,"BULLET::::- access date February 19, 2019\n",296

In [80]:
df_p.loc[((df_p['wikipedia_id'] == 339) & (df_p['paragraph_id'] == 100))]

,kilt_id,wikipedia_id,wikipedia_title,paragraph,paragraph_id
100,339,339,Ayn Rand,"BULLET::::- ""Writings of Ayn Rand"" – from C-SP...",100

In [48]:
df_p['paragraph'].apply(lambda p: len(p)).describe()

count    1171.000000
mean      364.667805
std       374.044065
min         7.000000
25%        45.000000
50%       275.000000
75%       553.000000
max      2867.000000
Name: paragraph, dtype: float64

In [43]:
df_p.to_json('../data/kilt_wiki_small_paragraphs.jsonl', orient='records', lines=True)