In [1]:
import pandas as pd

In [2]:
SOURCE = '../data/kilt_fever_train_small.jsonl'

In [3]:
df = pd.read_json(SOURCE, lines=True)
df

,id,input,meta,output
0,150448,Roman Atwood is a content creator.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
1,156709,Adrienne Bailon is an accountant.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'REFUTES', 'meta': {'score': -1}, ..."
2,129629,Homeland is an American television spy thrille...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
3,33078,The Boston Celtics play their home games at TD...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
4,6744,The Ten Commandments is an epic film.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
...,...,...,...,...
995,156050,Marilyn Monroe did not play comic characters.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'REFUTES', 'meta': {'score': -1}, ..."
996,67179,Tanzania's largest city and principal port is ...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
997,118084,John F. Kennedy graduated from a university.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
998,81380,Bali is an administrative division within Indo...,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."
999,79009,Miranda Cosgrove is an American actress.,"{'left_context': '', 'mention': '', 'right_con...","[{'answer': 'SUPPORTS', 'meta': {'score': -1},..."

In [4]:
def extract_wikipedia_link(row):

    item = row['output'][0]['provenance'][0]

    return {
        'wikipedia_id': item['wikipedia_id'],
        'section': item['section'],
        'start_paragraph_id': item['start_paragraph_id'],
        'end_paragraph_id': item['end_paragraph_id']
    }

In [18]:
df['ground_truth'] = df.apply(extract_wikipedia_link, axis=1)
df[['id', 'input', 'ground_truth']].to_json('truth.json', orient='records')