In [1]:
import duckdb

In [2]:
DB = '../data/kilt_wiki.duckdb'
WIKI_ALL = '../data/wikipedia_kilt.duckdb'

In [3]:
con = duckdb.connect(DB)

In [ ]:
document_id = '23041'
reference_paragraphs = [2, 3, 5]
excluded = [5, 4]

res = con.execute(f"""
    SELECT *
    FROM paragraph
    WHERE wikipedia_id = '{document_id}' AND index IN ({','.join(['?']*len(reference_paragraphs))})
""", reference_paragraphs).df()

res.loc[(~res['index'].isin(excluded) & res['wikipedia_id'] != document_id)].head(5)

,wikipedia_id,wikipedia_title,global_id,index,text
0,23041,Puerto Rico,1167,5,Puerto Ricans have been citizens of the United...
1,23041,Puerto Rico,1169,3,"An archipelago among the Greater Antilles, Pue..."
2,23041,Puerto Rico,1170,2,"Puerto Rico (), officially the Commonwealth of..."

In [6]:
con.execute(f"SELECT * FROM paragraph").df()

,wikipedia_id,wikipedia_title,global_id,index,text
0,76383,The Ten Commandments (1956 film),1,128,"BULLET::::- Costume design drawings for ""The T..."
1,23041,Puerto Rico,2,335,United Nations (U.N.) Declaration on Puerto Ri...
2,30339,Tetris,3,112,"BULLET::::- List of ""Tetris"" variants\n"
3,43386202,Roman Atwood,4,23,"In March 2014, Roman, along with his accomplic..."
4,9233381,Ryan Seacrest,5,57,BULLET::::- DigitalReview.net Biography and re...
...,...,...,...,...,...
1166,23041,Puerto Rico,1167,5,Puerto Ricans have been citizens of the United...
1167,23041,Puerto Rico,1168,4,Originally populated by the indigenous Taíno p...
1168,23041,Puerto Rico,1169,3,"An archipelago among the Greater Antilles, Pue..."
1169,23041,Puerto Rico,1170,2,"Puerto Rico (), officially the Commonwealth of..."
1170,23041,Puerto Rico,1171,1,Puerto Rico\n

In [28]:
wiki = duckdb.connect(WIKI_ALL)
wiki.execute(f"""
    SELECT *
    FROM wiki
    WHERE wikipedia_id in ?
""", [['23041', '1']]).df()

,kilt_id,wikipedia_id,wikipedia_title,text,anchors,categories,wikidata_info,history
0,23041,23041,Puerto Rico,"{'paragraph': ['Puerto Rico ', 'Puerto Rico ()...","{'paragraph_id': [1, 1, 1, 1, 2, 2, 2, 2, 2, 2...","English-speaking countries and territories,Isl...",{'description': 'unincorporated territory of t...,"{'pageid': 23041, 'parentid': 908822207, 'revi..."