In [1]:
import duckdb

In [2]:
TARGET_DB = '../data/compendium/catechism.duckdb'

In [3]:
con = duckdb.connect(TARGET_DB, read_only=True)

In [4]:
con.execute("SELECT * FROM paragraph").df()

,document_id,title,global_id,index,text
0,1,TITLE,1,1,"1\nGod, infinitely perfect and blessed in hims..."
1,2,TITLE,2,2,2\nSo that this call should resound throughout...
2,3,TITLE,3,3,3\nThose who with God's help have welcomed Chr...
3,4,TITLE,4,4,"4\nQuite early on, the name catechesis was giv..."
4,5,TITLE,5,5,"5\n""Catechesis is an education in the faith of..."
...,...,...,...,...,...
2860,2861,TITLE,2861,2861,"2861\nIn the fourth petition, by saying ""give ..."
2861,2862,TITLE,2862,2862,2862\nThe fifth petition begs God's mercy for ...
2862,2863,TITLE,2863,2863,"2863\nWhen we say ""lead us not into temptation..."
2863,2864,TITLE,2864,2864,"2864\nIn the last petition, ""but deliver us fr..."
2864,2865,TITLE,2865,2865,"2865\nBy the final ""Amen,"" we express our ""fia..."